---
---

@import "{{ site.theme }}";

.wrapper2 { max-width: -webkit-calc(1000px - (30px * 2));
		   max-width: calc(1000px - (30px * 2));
		   margin-right: auto; margin-left: auto;
		   padding-right: 30px; padding-left: 30px; }

body {
  background-color: #fff;
  padding:50px;
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

header {
  width:350px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:550px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:350;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}